In [1]:
import pandas as pd
import os

from formatacao_sumulas import FootballDataProcessor
from algorithm import FootballMatchRating
import numpy as np
import warnings
warnings.filterwarnings("ignore")


id_players = pd.read_excel('id_players.xlsx', index_col=0)


data_folder = '../Data/'
file_names = ['Serie_A']
years = range(2017, 2018)

# processor = FootballDataProcessor('../Data/Serie_A_2014_games.json')
# final_df = processor.process(data_folder, file_names, years)
# final_df.rename(columns={'player_id': 'player'}, inplace=True)


# # Garantir que ambas as colunas 'player' estejam no tipo string
# final_df['player'] = final_df['player'].astype('string')
# id_players['player'] = id_players['player'].astype('string')

# # Realizar o merge sem utilizar índices, mas mantendo a coluna 'player'
# final_df_ = pd.merge(final_df, id_players, on='player', how='left')

# # Definir os nomes dos times que deseja analisar
# team_1_name = 'Criciúma / SC'  # Substitua pelo nome real do time 1 
# team_2_name = 'Palmeiras / SP'  # Substitua pelo nome real do time 2

# # Criar uma instância de FootballMatchRating
# rating_calculator = FootballMatchRating(final_df_, team_1_name, team_2_name)

# # Atualizar as ratings
# updated_match_data = rating_calculator.update_ratings()

# # Garantir que 'player' em updated_match_data está como string
# updated_match_data['player'] = updated_match_data['player'].astype('string')

# # Merge para obter apenas as colunas 'rating' e 'games_played' que precisam ser atualizadas
# updated_values = id_players[['player']].merge(
#     updated_match_data[['player', 'rating', 'games_played']],
#     on='player',
#     how='left'
# )

# # Atualizar apenas as linhas correspondentes em id_players
# id_players.update(updated_values)

In [2]:
df_jogos_2014 = pd.read_json('../Data/Serie_A_2017_games.json')
df_jogos_2014_ = df_jogos_2014.T

for index, row in df_jogos_2014_.iterrows():
    if index == 2:

        processor = FootballDataProcessor(df_jogos_2014_, index-1)
        final_df = processor.process(data_folder, file_names, years)
        final_df.rename(columns={'player_id': 'player'}, inplace=True)

        final_df['player'] = final_df['player'].astype('string')
        id_players['player'] = id_players['player'].astype('string')

        final_df_ = pd.merge(final_df, id_players, on='player', how='left')

        team_1_name = df_jogos_2014_.iloc[index-1,0]
        team_2_name = df_jogos_2014_.iloc[index-1,1]


        # Criar uma instância de FootballMatchRating
        rating_calculator = FootballMatchRating(final_df_, team_1_name, team_2_name)

        # Atualizar as ratings
        updated_match_data = rating_calculator.update_ratings()
        # Garantir que 'player' em updated_match_data está como string
        updated_match_data['player'] = updated_match_data['player'].astype('string')
        # Merge para obter apenas as colunas 'rating' e 'games_played' que precisam ser atualizadas
        updated_match_data.rename(columns={'player_name_x': 'player_name'}, inplace=True)
        updated_match_data.rename(columns={'time_jogador_x': 'time_jogador'}, inplace=True)

        updated_values = id_players[['player']].merge(
            updated_match_data[['player', 'rating', 'games_played', 'player_name', 'time_jogador']],
            on='player',
            how='left'
        )

        # Atualizar apenas as linhas corespondentes em id_players
        id_players.update(updated_values)

id_players

                                               player                   team  \
0   38Alex Muralha Alex Roberto Santana ... T(g)P1...          Flamengo / RJ
1     5Willian Arão Willian Souza Arao d ... TP293420          Flamengo / RJ
2    8Marcio Ara ... Marcio Rodrigues Araujo TP162907          Flamengo / RJ
3         9Guerrero Jose Paolo Guerrero  ... TP420184          Flamengo / RJ
4          13Trauco Miguel Angel Trauco  ... TP565356          Flamengo / RJ
5           15Rever Rever Humberto Alves ... TP167509          Flamengo / RJ
6            21Pará Marcos Rogerio Ricci ... TP165065          Flamengo / RJ
7            22Everton Everton Cardoso Silva TP178361          Flamengo / RJ
8          28Berrio Orlando Enrique Berr ... TP565602          Flamengo / RJ
9         33Rafael Vaz Rafael Vaz dos Santos TP171406          Flamengo / RJ
10  42Matheus Sa ... Matheus Gonçalves Savio TP395014          Flamengo / RJ
11         2Rodinei Rodinei Marcelo de A ... RP353568          Flamengo / RJ
12            4Juan Juan Silveira dos Santos RP123816          Flamengo / RJ
13              6Rene Rene Rodrigues Martins RP346636          Flamengo / RJ
14            10Eder Ederson Honorato Campos RP156351          Flamengo / RJ
15  18Leandro Da ... Leandro Damião da Si ... RP29...          Flamengo / RJ
16   20Vinicius Jr. Vinicius Jose Paixao ... RP510014          Flamengo / RJ
17        26Cuellar Gustavo Leonardo Cue ... RP541232          Flamengo / RJ
18  39Lucas Paqu ... Lucas Tolentino Coel ... RP31...          Flamengo / RJ
19          41Ronaldo Ronaldo da Silva Souza RP405698          Flamengo / RJ
20       43Leonardo Leonardo Campos Duar ... RP355960          Flamengo / RJ
21     44Thiaguinho Thiago Rodrigues da  ... RP307774          Flamengo / RJ
22   47Felipe Vizeu Felipe dos Reis Pere ... RP399284          Flamengo / RJ
23            1Victor Victor Leandro Bagy T(g)P156659  Atlético Mineiro / MG
24   5Rafael Car ... Rafael de Souza Pereira TP181262  Atlético Mineiro / MG
25          6Fabio Santos Fabio Santos Romeu TP162248  Atlético Mineiro / MG
26                  7Robinho Robson de Souza TP152954  Atlético Mineiro / MG
27              8Elias Elias Mendes Trindade TP159607  Atlético Mineiro / MG
28             9Fred Frederico Chaves Guedes TP148994  Atlético Mineiro / MG
29              11Otero Romulo Otero Vasquez TP554728  Atlético Mineiro / MG
30               19Carlos Carlos Cesar Neves TP165439  Atlético Mineiro / MG
31                  21Adilson Adilson Warken TP172685  Atlético Mineiro / MG
32           26Felipe Felipe Augusto Santana TP169374  Atlético Mineiro / MG
33     30Gabriel Co ... Gabriel Costa Franca TP318309  Atlético Mineiro / MG
34         10Cazares Juan Ramon Cazares S... RP540839  Atlético Mineiro / MG
35    13Rafael Moura Rafael Martiniano de... RP151437  Atlético Mineiro / MG
36         14Danilo Danilo Carvalho Barcelos RP313755  Atlético Mineiro / MG
37       15Ralph Mach ... Ralph Machado Dias RP452314  Atlético Mineiro / MG
38          16Rodrigo Rodrigo de Souza Prado RP301089  Atlético Mineiro / MG
39        20Giovanni Giovanni Aparecido A... RP175445  Atlético Mineiro / MG
40  25Yago Henri ... Yago Henrique Severi... RP315979  Atlético Mineiro / MG
41          70Maicon Maicosuel Reginaldo ... RP161269  Atlético Mineiro / MG
42         92Marlone Johnath Marlone Azev... RP307366  Atlético Mineiro / MG

   player_id                                player_name  Minutes Played  \
0     177010    38Alex Muralha Alex Roberto Santana ...              90
1     293420     5Willian Arão Willian Souza Arao d ...              90
2     162907    8Marcio Ara ... Marcio Rodrigues Araujo              90
3     420184         9Guerrero Jose Paolo Guerrero  ...              90
4     565356                      13Trauco Miguel Angel              18
5     167509           15Rever Rever Humberto Alves ...              90
6     165065            21Pará Marcos Rogerio Ricci ...              90
7     178361            22Everton Everton Cardoso Silva              90
8     565602          28Berrio Orlando Enrique Berr ...              11
9     171406         33Rafael Vaz Rafael Vaz dos Santos              90
10    395014   42Matheus Sa ... Matheus Gonçalves Savio              32
11    353568          2Rodinei Rodinei Marcelo de A ...              90
12    123816             4Juan Juan Silveira dos Santos              90
13    346636               6Rene Rene Rodrigues Martins              58
14    156351             10Eder Ederson Honorato Campos              72
15    291866  18Leandro Da ... Leandro Damião da Si ...              90
16    510014    20Vinicius Jr. Vinicius Jose Paixao ...              79
17    541232         26Cuellar Gustavo Leonardo Cue ...              90
18    319635                     39Lucas Paqu ... Lucas              90
19    405698           41Ronaldo Ronaldo da Silva Souza              90
20    355960        43Leonardo Leonardo Campos Duar ...              90
21    307774                               44Thiaguinho              90
22    399284    47Felipe Vizeu Felipe dos Reis Pere ...              90
23    156659                1Victor Victor Leandro Bagy              90
24    181262    5Rafael Car ... Rafael de Souza Pereira              90
25    162248           6Fabio Santos Fabio Santos Romeu              90
26    152954                   7Robinho Robson de Souza              16
27    159607                        8Elias Elias Mendes              90
28    148994              9Fred Frederico Chaves Guedes              16
29    554728               11Otero Romulo Otero Vasquez              45
30    165439                19Carlos Carlos Cesar Neves              90
31    172685                   21Adilson Adilson Warken              90
32    169374            26Felipe Felipe Augusto Santana              90
33    318309      30Gabriel Co ... Gabriel Costa Franca              90
34    540839          10Cazares Juan Ramon Cazares S...              45
35    151437     13Rafael Moura Rafael Martiniano de...              74
36    313755          14Danilo Danilo Carvalho Barcelos              90
37    452314        15Ralph Mach ... Ralph Machado Dias              90
38    301089           16Rodrigo Rodrigo de Souza Prado              90
39    175445         20Giovanni Giovanni Aparecido A...              90
40    315979   25Yago Henri ... Yago Henrique Severi...              90
41    161269           70Maicon Maicosuel Reginaldo ...              74
42    307366          92Marlone Johnath Marlone Azev...              90

    Minute Entered  Minute Exited
0                0             90
1                0             90
2                0             90
3                0             90
4               72             90
5                0             90
6                0             90
7                0             90
8               79             90
9                0             90
10              58             90
11               0             90
12               0             90
13               0             58
14               0             72
15               0             90
16               0             79
17               0             90
18               0             90
19               0             90
20               0             90
21               0             90
22               0             90
23               0             90
24               0             90
25               0             90
26              74             90
27               0             90
28              74             90
29              45             90
30               0             90
31               0             90
32               0             90
33               0             90
34               0             45
35               0             74
36               0             90
37               0             90
38               0             90
39               0             90
40               0             90
41               0             74
42               0             90

,player,rating,age,games_played,player_name,time_jogador
0,135687,1500.0000,25,50,NaN,NaN
1,380762,1500.0000,25,50,NaN,NaN
2,172028,1500.0000,25,50,NaN,NaN
3,439179,1500.0000,25,50,NaN,NaN
4,178827,1500.0000,25,50,NaN,NaN
...,...,...,...,...,...,...
717,364085,1500.0000,25,50,NaN,NaN
718,137990,1500.0000,25,50,NaN,NaN
719,165065,1497.1987,25,51,21Pará Marcos Rogerio Ricci ...,Flamengo / RJ
720,178620,1500.0000,25,50,NaN,NaN
721,318957,1500.0000,25,50,NaN,NaN

In [3]:
x = id_players.sort_values(by='rating')
x.to_excel('teste.xlsx')
x

,player,rating,age,games_played,player_name,time_jogador
152,395014,1491.323563,25,51,42Matheus Sa ... Matheus Gonçalves Savio,Flamengo / RJ
417,540839,1494.546272,25,51,10Cazares Juan Ramon Cazares S...,Atlético Mineiro / MG
719,165065,1497.198700,25,51,21Pará Marcos Rogerio Ricci ...,Flamengo / RJ
593,162907,1497.198700,25,51,8Marcio Ara ... Marcio Rodrigues Araujo,Flamengo / RJ
537,167509,1497.198700,25,51,15Rever Rever Humberto Alves ...,Flamengo / RJ
...,...,...,...,...,...,...
346,181262,1502.728362,25,51,5Rafael Car ... Rafael de Souza Pereira,Atlético Mineiro / MG
702,162248,1502.728362,25,51,6Fabio Santos Fabio Santos Romeu,Atlético Mineiro / MG
70,318309,1502.728362,25,51,30Gabriel Co ... Gabriel Costa Franca,Atlético Mineiro / MG
454,169374,1502.728362,25,51,26Felipe Felipe Augusto Santana,Atlético Mineiro / MG
39,554728,1509.546272,25,51,11Otero Romulo Otero Vasquez,Atlético Mineiro / MG