In [27]:
import pandas as pd
import os

from formatacao_sumulas import FootballDataProcessor
from algorithm import FootballMatchRating
import numpy as np
import warnings
warnings.filterwarnings("ignore")


id_players = pd.read_excel('id_players.xlsx', index_col=0)


data_folder = '../Data/'
file_names = ['Serie_A']
years = range(2014, 2015)

# processor = FootballDataProcessor('../Data/Serie_A_2014_games.json')
# final_df = processor.process(data_folder, file_names, years)
# final_df.rename(columns={'player_id': 'player'}, inplace=True)


# # Garantir que ambas as colunas 'player' estejam no tipo string
# final_df['player'] = final_df['player'].astype('string')
# id_players['player'] = id_players['player'].astype('string')

# # Realizar o merge sem utilizar índices, mas mantendo a coluna 'player'
# final_df_ = pd.merge(final_df, id_players, on='player', how='left')

# # Definir os nomes dos times que deseja analisar
# team_1_name = 'Criciúma / SC'  # Substitua pelo nome real do time 1 
# team_2_name = 'Palmeiras / SP'  # Substitua pelo nome real do time 2

# # Criar uma instância de FootballMatchRating
# rating_calculator = FootballMatchRating(final_df_, team_1_name, team_2_name)

# # Atualizar as ratings
# updated_match_data = rating_calculator.update_ratings()

# # Garantir que 'player' em updated_match_data está como string
# updated_match_data['player'] = updated_match_data['player'].astype('string')

# # Merge para obter apenas as colunas 'rating' e 'games_played' que precisam ser atualizadas
# updated_values = id_players[['player']].merge(
#     updated_match_data[['player', 'rating', 'games_played']],
#     on='player',
#     how='left'
# )

# # Atualizar apenas as linhas correspondentes em id_players
# id_players.update(updated_values)

In [37]:
df_jogos_2014 = pd.read_json('../Data/Serie_A_2014_games.json')
df_jogos_2014_ = df_jogos_2014.T

for index, row in df_jogos_2014_.iterrows():
    processor = FootballDataProcessor(df_jogos_2014_, index-1)
    final_df = processor.process(data_folder, file_names, years)
    final_df.rename(columns={'player_id': 'player'}, inplace=True)

    # Garantir que ambas as colunas 'player' estejam no tipo string
    final_df['player'] = final_df['player'].astype('string')
    id_players['player'] = id_players['player'].astype('string')

    # Realizar o merge sem utilizar índices, mas mantendo a coluna 'player'
    final_df_ = pd.merge(final_df, id_players, on='player', how='left')

    # Definir os nomes dos times que deseja analisar
    team_1_name = df_jogos_2014_.iloc[index-1,0]
    team_2_name = df_jogos_2014_.iloc[index-1,1]

    # Criar uma instância de FootballMatchRating
    rating_calculator = FootballMatchRating(final_df_, team_1_name, team_2_name)

    # Atualizar as ratings
    updated_match_data = rating_calculator.update_ratings()
    # Garantir que 'player' em updated_match_data está como string
    updated_match_data['player'] = updated_match_data['player'].astype('string')
    # Merge para obter apenas as colunas 'rating' e 'games_played' que precisam ser atualizadas
    updated_match_data.rename(columns={'nome_jogador_x': 'nome_jogador'}, inplace=True)
    updated_values = id_players[['player']].merge(
        updated_match_data[['player', 'rating', 'games_played', 'nome_jogador']],
        on='player',
        how='left'
    )

    # Atualizar apenas as linhas corespondentes em id_players
    id_players.update(updated_values)

id_players

,player,rating,age,games_played,nome_jogador
0,149237,1512.375420,25,58,7Nilmar Nilmar Honorato da Silva TP149237
1,331937,1458.964824,25,88,20Lucas Lucas Rafael Araujo Lima TP331937
2,176729,1514.083130,25,70,25Hudson Hudson Rodrigues dos ... TP176729
3,308980,1483.071242,25,74,29Alison Alison Lopes Ferreira TP308980
4,171547,1514.641548,25,68,8Gil Jose Gildeixon Cleme... TP171547
...,...,...,...,...,...
731,185679,1501.675780,25,86,4Cicinho Neuciano de Jesus Gusmao RP185679
732,291380,1523.169194,25,65,13Paulo Mira ... Jonathan Doin TP291380
733,145298,1646.105569,25,68,13Wendel Wendel Santana Perei ... TP145298
734,174348,1468.209999,25,84,44Leandro Al ... Leandro Almeida da Silva TP17...
735,309644,1507.375976,25,52,41Paulinho Paulo Modesto da Sil... RP309644

In [39]:
id_players.sort_values(by='rating')

,player,rating,age,games_played,nome_jogador
319,122631,1393.655627,25,74,16Paulo Baier Paulo Cesar Baier RP122631
69,419387,1418.469415,25,72,5Caceres Victor Javier Cácere ... TP419387
458,170812,1421.251054,25,81,8Henrique Henrique Pacheco de Lima TP170812
261,507398,1424.394497,25,58,18Matias Matias Nicolas Rodriguez RP507398
359,182246,1428.880131,25,81,8Willians Willians Domingos Fe... TP182246
...,...,...,...,...,...
24,309431,1697.519266,25,78,35Victor Victor Luis Chuab Za ... TP309431
341,334195,1701.820252,25,75,23Renato Renato Augusto Santo ... TP334195
423,128373,1715.215592,25,78,3Lucio Lucimar da Silva Fer ... TP128373
608,172123,1729.295504,25,81,26Marcelo Ol ... Marcelo Oliveira Fer... TP172123
372,189708,1730.259602,25,84,19Henrique Jose Henrique da Sil ... TP189708